anytree==2.6.0
certifi==2019.3.9
chardet==3.0.4
colorlog==4.0.2
decorator==4.4.0
future==0.17.1
idna==2.8
lxml==4.3.3
meshcat==0.0.16
mpmath==1.1.0
msgpack==0.6.1
networkx==2.3
numpy==1.16.2
pandas==0.24.2
Pillow==6.0.0
pycollada==0.6
pyglet==1.3.2
python-dateutil==2.8.0
pytz==2019.1
pyzmq==18.0.1
requests==2.21.0
Rtree==0.8.3
scipy==1.2.1
Shapely==1.6.4.post2
six==1.12.0
svg.path==3.0
sympy==1.4
tornado==6.0.2
trimesh==2.37.28
u-msgpack-python==2.5.1
urllib3>=1.24.2
xxhash==1.3.0