anytree==2.8.0
certifi==2019.11.28
chardet==3.0.4
colorlog==4.1.0
decorator==4.4.2
future==0.18.2
idna==2.9
lxml==4.5.0
meshcat==0.0.17
mpmath==1.1.0
msgpack==1.0.0
networkx==2.4
numpy==1.18.1
Pillow==7.0.0
pvtrace==2.1.0
pycollada==0.7.1
pyglet==1.5.0
python-dateutil==2.8.1
pyzmq==19.0.0
requests==2.23.0
Rtree==0.9.4
scipy==1.4.1
Shapely==1.7.0
six==1.14.0
svg.path==4.0.2
sympy==1.5.1
tornado==6.0.3
trimesh==3.5.25
u-msgpack-python==2.5.2
urllib3==1.25.8
xxhash==1.4.3
