<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Canvas</key>
	<dict>
		<key>Above</key>
		<string></string>
		<key>Axis Background</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Space</key>
					<string>NSCalibratedWhiteColorSpace</string>
					<key>White</key>
					<real>1</real>
				</dict>
				<key>Which</key>
				<integer>0</integer>
			</dict>
			<key>Gradient</key>
			<dict>
				<key>First Color</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Alpha</key>
						<real>0.36000001430511475</real>
						<key>Blue</key>
						<real>1</real>
						<key>Green</key>
						<real>1</real>
						<key>Red</key>
						<real>1</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>First of Three</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Alpha</key>
						<real>0.80000001192092896</real>
						<key>Blue</key>
						<real>1</real>
						<key>Green</key>
						<real>0.0</real>
						<key>Red</key>
						<real>0.0</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Location of Middle</key>
				<string>0.5</string>
				<key>Second Color</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Alpha</key>
						<real>0.36000001430511475</real>
						<key>Blue</key>
						<real>1</real>
						<key>Green</key>
						<real>0.65190315246582031</real>
						<key>Red</key>
						<real>0.0</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Second of Three</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Alpha</key>
						<real>0.0</real>
						<key>Blue</key>
						<real>1</real>
						<key>Green</key>
						<real>1</real>
						<key>Red</key>
						<real>1</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Third of Three</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Alpha</key>
						<real>0.80000001192092896</real>
						<key>Blue</key>
						<real>0.0</real>
						<key>Green</key>
						<real>0.0</real>
						<key>Red</key>
						<real>1</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>1</integer>
			</dict>
			<key>Graphic</key>
			<dict/>
			<key>Pattern</key>
			<dict>
				<key>Background</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Blue</key>
						<real>1</real>
						<key>Green</key>
						<real>1</real>
						<key>Red</key>
						<real>1</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Foreground</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Blue</key>
						<real>0.0</real>
						<key>Green</key>
						<real>0.0</real>
						<key>Red</key>
						<real>0.0</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Line Width</key>
				<string>0.5</string>
				<key>Pattern</key>
				<integer>1</integer>
			</dict>
			<key>Position</key>
			<integer>3</integer>
			<key>Texture Background</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Space</key>
					<string>NSCalibratedWhiteColorSpace</string>
					<key>White</key>
					<real>0.0</real>
				</dict>
				<key>Which</key>
				<integer>0</integer>
			</dict>
			<key>Texture Foreground</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.91764706373214722</real>
					<key>Green</key>
					<real>0.66274511814117432</real>
					<key>Red</key>
					<real>0.59607845544815063</real>
					<key>Space</key>
					<string>NSDeviceRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>0</integer>
			</dict>
			<key>Texture Grain</key>
			<string>3</string>
			<key>Texture Weight</key>
			<string>0.3</string>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<key>Background</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Space</key>
					<string>NSCalibratedWhiteColorSpace</string>
					<key>White</key>
					<real>1</real>
				</dict>
				<key>Which</key>
				<integer>0</integer>
			</dict>
			<key>Gradient</key>
			<dict>
				<key>First Color</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Alpha</key>
						<real>0.36000001430511475</real>
						<key>Blue</key>
						<real>1</real>
						<key>Green</key>
						<real>1</real>
						<key>Red</key>
						<real>1</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>First of Three</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Alpha</key>
						<real>0.80000001192092896</real>
						<key>Blue</key>
						<real>1</real>
						<key>Green</key>
						<real>0.0</real>
						<key>Red</key>
						<real>0.0</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Location of Middle</key>
				<string>0.5</string>
				<key>Second Color</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Alpha</key>
						<real>0.36000001430511475</real>
						<key>Blue</key>
						<real>1</real>
						<key>Green</key>
						<real>0.65190315246582031</real>
						<key>Red</key>
						<real>0.0</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Second of Three</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Alpha</key>
						<real>0.0</real>
						<key>Blue</key>
						<real>1</real>
						<key>Green</key>
						<real>1</real>
						<key>Red</key>
						<real>1</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Third of Three</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Alpha</key>
						<real>0.80000001192092896</real>
						<key>Blue</key>
						<real>0.0</real>
						<key>Green</key>
						<real>0.0</real>
						<key>Red</key>
						<real>1</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>1</integer>
			</dict>
			<key>Graphic</key>
			<dict/>
			<key>Pattern</key>
			<dict>
				<key>Background</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Blue</key>
						<real>1</real>
						<key>Green</key>
						<real>1</real>
						<key>Red</key>
						<real>1</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Foreground</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Blue</key>
						<real>0.0</real>
						<key>Green</key>
						<real>0.0</real>
						<key>Red</key>
						<real>0.0</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Line Width</key>
				<string>0.5</string>
				<key>Pattern</key>
				<integer>1</integer>
			</dict>
			<key>Position</key>
			<integer>3</integer>
			<key>Texture Background</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Space</key>
					<string>NSCalibratedWhiteColorSpace</string>
					<key>White</key>
					<real>0.0</real>
				</dict>
				<key>Which</key>
				<integer>0</integer>
			</dict>
			<key>Texture Foreground</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.91764706373214722</real>
					<key>Green</key>
					<real>0.66274511814117432</real>
					<key>Red</key>
					<real>0.59607845544815063</real>
					<key>Space</key>
					<string>NSDeviceRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>0</integer>
			</dict>
			<key>Texture Grain</key>
			<string>3</string>
			<key>Texture Weight</key>
			<string>0.3</string>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<key>Below</key>
		<string></string>
		<key>Drawing Magnification</key>
		<integer>100</integer>
		<key>Drawing Size</key>
		<string>5in,3in</string>
		<key>Drawing Size Method</key>
		<integer>1</integer>
		<key>Export Background</key>
		<true/>
		<key>FG</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Alpha</key>
					<real>0.0</real>
					<key>Space</key>
					<string>NSDeviceWhiteColorSpace</string>
					<key>White</key>
					<real>1</real>
				</dict>
				<key>Which</key>
				<integer>0</integer>
			</dict>
			<key>Gradient</key>
			<dict>
				<key>First Color</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Alpha</key>
						<real>0.36000001430511475</real>
						<key>Blue</key>
						<real>1</real>
						<key>Green</key>
						<real>1</real>
						<key>Red</key>
						<real>1</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>First of Three</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Alpha</key>
						<real>0.80000001192092896</real>
						<key>Blue</key>
						<real>1</real>
						<key>Green</key>
						<real>0.0</real>
						<key>Red</key>
						<real>0.0</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Location of Middle</key>
				<string>0.5</string>
				<key>Second Color</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Alpha</key>
						<real>0.36000001430511475</real>
						<key>Blue</key>
						<real>1</real>
						<key>Green</key>
						<real>0.65190315246582031</real>
						<key>Red</key>
						<real>0.0</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Second of Three</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Alpha</key>
						<real>0.0</real>
						<key>Blue</key>
						<real>1</real>
						<key>Green</key>
						<real>1</real>
						<key>Red</key>
						<real>1</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Third of Three</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Alpha</key>
						<real>0.80000001192092896</real>
						<key>Blue</key>
						<real>0.0</real>
						<key>Green</key>
						<real>0.0</real>
						<key>Red</key>
						<real>1</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>1</integer>
			</dict>
			<key>Pattern</key>
			<dict>
				<key>Background</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Blue</key>
						<real>1</real>
						<key>Green</key>
						<real>1</real>
						<key>Red</key>
						<real>1</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Foreground</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Blue</key>
						<real>0.0</real>
						<key>Green</key>
						<real>0.0</real>
						<key>Red</key>
						<real>0.0</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Line Width</key>
				<string>0.5</string>
				<key>Pattern</key>
				<integer>1</integer>
			</dict>
			<key>Texture Background</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Space</key>
					<string>NSCalibratedWhiteColorSpace</string>
					<key>White</key>
					<real>0.0</real>
				</dict>
				<key>Which</key>
				<integer>0</integer>
			</dict>
			<key>Texture Foreground</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.91764706373214722</real>
					<key>Green</key>
					<real>0.66274511814117432</real>
					<key>Red</key>
					<real>0.59607845544815063</real>
					<key>Space</key>
					<string>NSDeviceRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>0</integer>
			</dict>
			<key>Texture Grain</key>
			<string>3</string>
			<key>Texture Weight</key>
			<string>0.3</string>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<key>Left</key>
		<string></string>
		<key>Open</key>
		<false/>
		<key>Right</key>
		<string></string>
		<key>Stacking Choice</key>
		<integer>3</integer>
		<key>Title</key>
		<array/>
		<key>Title Font Style</key>
		<dict>
			<key>Font</key>
			<integer>2</integer>
			<key>Modify Color</key>
			<integer>0</integer>
			<key>Name</key>
			<string>Helvetica</string>
			<key>Overwrite Size</key>
			<integer>1</integer>
			<key>Overwrite Style</key>
			<integer>1</integer>
			<key>Size</key>
			<real>12</real>
		</dict>
		<key>Type</key>
		<string>Canvas Settings</string>
		<key>X Label Height</key>
		<integer>2</integer>
		<key>Y Label Width</key>
		<integer>2</integer>
	</dict>
	<key>Columns</key>
	<array>
		<dict>
			<key>Name</key>
			<string>#</string>
			<key>Type</key>
			<string>Line Number</string>
			<key>Width</key>
			<real>35</real>
		</dict>
		<dict>
			<key>Display</key>
			<false/>
			<key>Name</key>
			<string>categories</string>
			<key>Open</key>
			<false/>
			<key>Show</key>
			<true/>
			<key>Type</key>
			<string>String</string>
			<key>Value Type</key>
			<integer>1</integer>
			<key>Width</key>
			<real>71</real>
		</dict>
		<dict>
			<key>Currency</key>
			<integer>10</integer>
			<key>Name</key>
			<string>Thermodynamic</string>
			<key>Number Format</key>
			<integer>1</integer>
			<key>Open</key>
			<false/>
			<key>Show</key>
			<true/>
			<key>Type</key>
			<string>Ascii</string>
			<key>Width</key>
			<real>71</real>
		</dict>
		<dict>
			<key>Currency</key>
			<integer>10</integer>
			<key>Name</key>
			<string>C Monte-Carlo</string>
			<key>Number Format</key>
			<integer>1</integer>
			<key>Open</key>
			<false/>
			<key>Show</key>
			<true/>
			<key>Type</key>
			<string>Ascii</string>
			<key>Width</key>
			<real>71</real>
		</dict>
		<dict>
			<key>Currency</key>
			<integer>10</integer>
			<key>Name</key>
			<string>pytrace</string>
			<key>Number Format</key>
			<integer>1</integer>
			<key>Open</key>
			<true/>
			<key>Show</key>
			<true/>
			<key>Type</key>
			<string>Ascii</string>
			<key>Width</key>
			<real>71</real>
		</dict>
	</array>
	<key>Commands</key>
	<array>
		<dict>
			<key>Crop X</key>
			<string>-∞,∞</string>
			<key>Crop Y</key>
			<string>-∞,∞</string>
			<key>Draw X Labels</key>
			<true/>
			<key>Draw Y Labels</key>
			<true/>
			<key>Include X</key>
			<string></string>
			<key>Include Y</key>
			<string></string>
			<key>Open</key>
			<false/>
			<key>Pad X Range</key>
			<integer>3</integer>
			<key>Pad Y Range</key>
			<integer>3</integer>
			<key>Type</key>
			<string>Main Axis</string>
			<key>X Categories</key>
			<integer>1</integer>
			<key>X Currency</key>
			<integer>1</integer>
			<key>X Currency Negative</key>
			<false/>
			<key>X Currency Negative Red</key>
			<false/>
			<key>X Degree/Radians</key>
			<integer>1</integer>
			<key>X Minor Ticks Values</key>
			<string>0.5,1.5</string>
			<key>X Orientation</key>
			<integer>1</integer>
			<key>X Prefix</key>
			<string></string>
			<key>X Suffix</key>
			<string></string>
			<key>X Tick Labels</key>
			<integer>-2</integer>
			<key>X Tick Locations</key>
			<integer>0</integer>
			<key>X Ticks Choice</key>
			<integer>5</integer>
			<key>X Ticks Stride</key>
			<string>1</string>
			<key>X Ticks Values</key>
			<string>0,1,2</string>
			<key>X Title</key>
			<array/>
			<key>X Type</key>
			<integer>1</integer>
			<key>Y Categories</key>
			<integer>-2</integer>
			<key>Y Currency</key>
			<integer>1</integer>
			<key>Y Currency Negative</key>
			<false/>
			<key>Y Currency Negative Red</key>
			<false/>
			<key>Y Degree/Radians</key>
			<integer>1</integer>
			<key>Y Minor Ticks Values</key>
			<string>0.5,1.5</string>
			<key>Y Prefix</key>
			<string></string>
			<key>Y Suffix</key>
			<string></string>
			<key>Y Tick Labels</key>
			<integer>-2</integer>
			<key>Y Tick Locations</key>
			<integer>0</integer>
			<key>Y Ticks Choice</key>
			<integer>1</integer>
			<key>Y Ticks Stride</key>
			<string>1</string>
			<key>Y Ticks Values</key>
			<string>0,1,2</string>
			<key>Y Title</key>
			<array/>
			<key>Y Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Bar Type</key>
			<integer>1</integer>
			<key>Between Bars</key>
			<string>0.145</string>
			<key>Columns</key>
			<array>
				<dict>
					<key>Column</key>
					<integer>4</integer>
					<key>Error Type</key>
					<integer>1</integer>
					<key>Label</key>
					<integer>4</integer>
					<key>Legend</key>
					<array>
						<dict>
							<key>Label</key>
							<string>Values</string>
						</dict>
					</array>
					<key>Negative Error</key>
					<integer>-2</integer>
					<key>Positive Error</key>
					<integer>-2</integer>
				</dict>
				<dict>
					<key>Column</key>
					<integer>2</integer>
					<key>Error Type</key>
					<integer>1</integer>
					<key>Label</key>
					<integer>-2</integer>
					<key>Legend</key>
					<array>
						<dict>
							<key>Label</key>
							<string>Values</string>
						</dict>
					</array>
					<key>Negative Error</key>
					<integer>-2</integer>
					<key>Positive Error</key>
					<integer>-2</integer>
				</dict>
			</array>
			<key>Combined Width</key>
			<string>0.85</string>
			<key>Error Color</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.0</real>
					<key>Green</key>
					<real>0.0</real>
					<key>Red</key>
					<real>1</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>17</integer>
			</dict>
			<key>Error Style</key>
			<integer>2</integer>
			<key>Error Width</key>
			<string>same</string>
			<key>Exclude</key>
			<false/>
			<key>Gradient Color 1</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.10980392247438431</real>
					<key>Green</key>
					<real>0.10196079313755035</real>
					<key>Red</key>
					<real>0.89411765336990356</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>18</integer>
			</dict>
			<key>Gradient Color 10</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.63921570777893066</real>
					<key>Green</key>
					<real>0.30588236451148987</real>
					<key>Red</key>
					<real>0.59607845544815063</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>21</integer>
			</dict>
			<key>Gradient Color 11</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.0</real>
					<key>Green</key>
					<real>0.49803921580314636</real>
					<key>Red</key>
					<real>1</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>22</integer>
			</dict>
			<key>Gradient Color 12</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.20000000298023224</real>
					<key>Green</key>
					<real>1</real>
					<key>Red</key>
					<real>1</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>23</integer>
			</dict>
			<key>Gradient Color 2</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.72156864404678345</real>
					<key>Green</key>
					<real>0.49411764740943909</real>
					<key>Red</key>
					<real>0.21568627655506134</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>19</integer>
			</dict>
			<key>Gradient Color 3</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.29019609093666077</real>
					<key>Green</key>
					<real>0.68627452850341797</real>
					<key>Red</key>
					<real>0.30196079611778259</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>20</integer>
			</dict>
			<key>Gradient Color 4</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.63921570777893066</real>
					<key>Green</key>
					<real>0.30588236451148987</real>
					<key>Red</key>
					<real>0.59607845544815063</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>21</integer>
			</dict>
			<key>Gradient Color 5</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.0</real>
					<key>Green</key>
					<real>0.49803921580314636</real>
					<key>Red</key>
					<real>1</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>22</integer>
			</dict>
			<key>Gradient Color 6</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.20000000298023224</real>
					<key>Green</key>
					<real>1</real>
					<key>Red</key>
					<real>1</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>23</integer>
			</dict>
			<key>Gradient Color 7</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.10980392247438431</real>
					<key>Green</key>
					<real>0.10196079313755035</real>
					<key>Red</key>
					<real>0.89411765336990356</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>18</integer>
			</dict>
			<key>Gradient Color 8</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.72156864404678345</real>
					<key>Green</key>
					<real>0.49411764740943909</real>
					<key>Red</key>
					<real>0.21568627655506134</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>19</integer>
			</dict>
			<key>Gradient Color 9</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.29019609093666077</real>
					<key>Green</key>
					<real>0.68627452850341797</real>
					<key>Red</key>
					<real>0.30196079611778259</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>20</integer>
			</dict>
			<key>Hide</key>
			<false/>
			<key>Label Font</key>
			<dict>
				<key>Font</key>
				<integer>1</integer>
				<key>Modify Color</key>
				<integer>0</integer>
				<key>Name</key>
				<string>Helvetica</string>
				<key>Overwrite Size</key>
				<integer>1</integer>
				<key>Overwrite Style</key>
				<integer>1</integer>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>Label Placement</key>
			<integer>3</integer>
			<key>Label Rotation</key>
			<integer>1</integer>
			<key>Line Color</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.0</real>
					<key>Green</key>
					<real>0.0</real>
					<key>Red</key>
					<real>0.0</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>1</integer>
			</dict>
			<key>Line Width</key>
			<string>pen</string>
			<key>Magnify Option</key>
			<integer>1</integer>
			<key>Mask</key>
			<dict>
				<key>Column</key>
				<integer>-2</integer>
				<key>Match</key>
				<string>*</string>
				<key>Range</key>
				<string>0,∞</string>
				<key>Type</key>
				<integer>1</integer>
				<key>Value</key>
				<string>0</string>
			</dict>
			<key>Open</key>
			<true/>
			<key>Pattern Background</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>1</real>
					<key>Green</key>
					<real>1</real>
					<key>Red</key>
					<real>1</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>24</integer>
			</dict>
			<key>Pattern Line Width</key>
			<string>same</string>
			<key>Position Offset</key>
			<string>0</string>
			<key>Solid Color 1</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.10980392247438431</real>
					<key>Green</key>
					<real>0.10196079313755035</real>
					<key>Red</key>
					<real>0.89411765336990356</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>18</integer>
			</dict>
			<key>Solid Color 10</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.63921570777893066</real>
					<key>Green</key>
					<real>0.30588236451148987</real>
					<key>Red</key>
					<real>0.59607845544815063</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>21</integer>
			</dict>
			<key>Solid Color 11</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.0</real>
					<key>Green</key>
					<real>0.49803921580314636</real>
					<key>Red</key>
					<real>1</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>22</integer>
			</dict>
			<key>Solid Color 12</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.20000000298023224</real>
					<key>Green</key>
					<real>1</real>
					<key>Red</key>
					<real>1</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>23</integer>
			</dict>
			<key>Solid Color 2</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.72156864404678345</real>
					<key>Green</key>
					<real>0.49411764740943909</real>
					<key>Red</key>
					<real>0.21568627655506134</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>19</integer>
			</dict>
			<key>Solid Color 3</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.29019609093666077</real>
					<key>Green</key>
					<real>0.68627452850341797</real>
					<key>Red</key>
					<real>0.30196079611778259</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>20</integer>
			</dict>
			<key>Solid Color 4</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.63921570777893066</real>
					<key>Green</key>
					<real>0.30588236451148987</real>
					<key>Red</key>
					<real>0.59607845544815063</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>21</integer>
			</dict>
			<key>Solid Color 5</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.0</real>
					<key>Green</key>
					<real>0.49803921580314636</real>
					<key>Red</key>
					<real>1</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>22</integer>
			</dict>
			<key>Solid Color 6</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.20000000298023224</real>
					<key>Green</key>
					<real>1</real>
					<key>Red</key>
					<real>1</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>23</integer>
			</dict>
			<key>Solid Color 7</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.10980392247438431</real>
					<key>Green</key>
					<real>0.10196079313755035</real>
					<key>Red</key>
					<real>0.89411765336990356</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>18</integer>
			</dict>
			<key>Solid Color 8</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.72156864404678345</real>
					<key>Green</key>
					<real>0.49411764740943909</real>
					<key>Red</key>
					<real>0.21568627655506134</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>19</integer>
			</dict>
			<key>Solid Color 9</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.29019609093666077</real>
					<key>Green</key>
					<real>0.68627452850341797</real>
					<key>Red</key>
					<real>0.30196079611778259</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>20</integer>
			</dict>
			<key>Start Gradient Color</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Alpha</key>
					<real>0.5</real>
					<key>Blue</key>
					<real>1</real>
					<key>Green</key>
					<real>1</real>
					<key>Red</key>
					<real>1</real>
					<key>Space</key>
					<string>NSDeviceRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>0</integer>
			</dict>
			<key>Style</key>
			<integer>3</integer>
			<key>Type</key>
			<string>Simple Bars</string>
		</dict>
		<dict>
			<key>Background</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Space</key>
						<string>NSCalibratedWhiteColorSpace</string>
						<key>White</key>
						<real>1</real>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Gradient</key>
				<dict>
					<key>First Color</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Alpha</key>
							<real>0.36000001430511475</real>
							<key>Blue</key>
							<real>1</real>
							<key>Green</key>
							<real>1</real>
							<key>Red</key>
							<real>1</real>
							<key>Space</key>
							<string>NSCalibratedRGBColorSpace</string>
						</dict>
						<key>Which</key>
						<integer>0</integer>
					</dict>
					<key>First of Three</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Alpha</key>
							<real>0.80000001192092896</real>
							<key>Blue</key>
							<real>1</real>
							<key>Green</key>
							<real>0.0</real>
							<key>Red</key>
							<real>0.0</real>
							<key>Space</key>
							<string>NSCalibratedRGBColorSpace</string>
						</dict>
						<key>Which</key>
						<integer>0</integer>
					</dict>
					<key>Location of Middle</key>
					<string>0.5</string>
					<key>Second Color</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Alpha</key>
							<real>0.36000001430511475</real>
							<key>Blue</key>
							<real>1</real>
							<key>Green</key>
							<real>0.65190315246582031</real>
							<key>Red</key>
							<real>0.0</real>
							<key>Space</key>
							<string>NSCalibratedRGBColorSpace</string>
						</dict>
						<key>Which</key>
						<integer>0</integer>
					</dict>
					<key>Second of Three</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Alpha</key>
							<real>0.0</real>
							<key>Blue</key>
							<real>1</real>
							<key>Green</key>
							<real>1</real>
							<key>Red</key>
							<real>1</real>
							<key>Space</key>
							<string>NSCalibratedRGBColorSpace</string>
						</dict>
						<key>Which</key>
						<integer>0</integer>
					</dict>
					<key>Third of Three</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Alpha</key>
							<real>0.80000001192092896</real>
							<key>Blue</key>
							<real>0.0</real>
							<key>Green</key>
							<real>0.0</real>
							<key>Red</key>
							<real>1</real>
							<key>Space</key>
							<string>NSCalibratedRGBColorSpace</string>
						</dict>
						<key>Which</key>
						<integer>0</integer>
					</dict>
					<key>Type</key>
					<integer>1</integer>
				</dict>
				<key>Pattern</key>
				<dict>
					<key>Background</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Blue</key>
							<real>1</real>
							<key>Green</key>
							<real>1</real>
							<key>Red</key>
							<real>1</real>
							<key>Space</key>
							<string>NSCalibratedRGBColorSpace</string>
						</dict>
						<key>Which</key>
						<integer>0</integer>
					</dict>
					<key>Foreground</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Blue</key>
							<real>0.0</real>
							<key>Green</key>
							<real>0.0</real>
							<key>Red</key>
							<real>0.0</real>
							<key>Space</key>
							<string>NSCalibratedRGBColorSpace</string>
						</dict>
						<key>Which</key>
						<integer>0</integer>
					</dict>
					<key>Line Width</key>
					<string>0.5</string>
					<key>Pattern</key>
					<integer>1</integer>
				</dict>
				<key>Texture Background</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Space</key>
						<string>NSCalibratedWhiteColorSpace</string>
						<key>White</key>
						<real>0.0</real>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Texture Foreground</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Blue</key>
						<real>0.91764706373214722</real>
						<key>Green</key>
						<real>0.66274511814117432</real>
						<key>Red</key>
						<real>0.59607845544815063</real>
						<key>Space</key>
						<string>NSDeviceRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Texture Grain</key>
				<string>3</string>
				<key>Texture Weight</key>
				<string>0.3</string>
				<key>Type</key>
				<integer>2</integer>
			</dict>
			<key>Border Style</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>Blue</key>
						<real>0.0</real>
						<key>Green</key>
						<real>0.0</real>
						<key>Red</key>
						<real>0.0</real>
						<key>Space</key>
						<string>NSCalibratedRGBColorSpace</string>
					</dict>
					<key>Which</key>
					<integer>0</integer>
				</dict>
				<key>Line Number</key>
				<integer>1</integer>
				<key>Type</key>
				<integer>2</integer>
				<key>Width</key>
				<string>pen</string>
			</dict>
			<key>Exclude</key>
			<false/>
			<key>Font Style</key>
			<dict>
				<key>Font</key>
				<integer>4</integer>
				<key>Modify Color</key>
				<integer>0</integer>
				<key>Name</key>
				<string>Helvetica</string>
				<key>Overwrite Size</key>
				<integer>1</integer>
				<key>Overwrite Style</key>
				<integer>1</integer>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>Graph Position</key>
			<integer>1</integer>
			<key>Hide</key>
			<false/>
			<key>Horizontal Position</key>
			<integer>2</integer>
			<key>Horizontal X Offset</key>
			<string>0</string>
			<key>Horizontal Y Offset</key>
			<string>20</string>
			<key>Include Position</key>
			<integer>1</integer>
			<key>Layout</key>
			<integer>1</integer>
			<key>Legend Size</key>
			<integer>1</integer>
			<key>Legend Title</key>
			<array/>
			<key>Line Spacing</key>
			<integer>1</integer>
			<key>Line Spacing Pixels</key>
			<string>20</string>
			<key>Offset</key>
			<string>41,24</string>
			<key>Open</key>
			<false/>
			<key>Position</key>
			<integer>2</integer>
			<key>Type</key>
			<string>Legend</string>
			<key>Vertical Position</key>
			<integer>1</integer>
			<key>Vertical X Offset</key>
			<string>0</string>
			<key>Vertical Y Offset</key>
			<string>0</string>
			<key>Width</key>
			<string>131</string>
		</dict>
	</array>
	<key>Drawing Size</key>
	<string>{652, 264}</string>
	<key>Parameters</key>
	<dict>
		<key>Animation</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Exact Value</key>
			<real>0.0</real>
			<key>Max</key>
			<real>1</real>
			<key>Min</key>
			<real>0.0</real>
			<key>Name</key>
			<string>t</string>
			<key>Range</key>
			<string>0,1</string>
			<key>Slider Value</key>
			<real>0.0</real>
			<key>Value</key>
			<string>0</string>
		</dict>
		<key>Animation Duration</key>
		<string>10</string>
		<key>List</key>
		<array/>
		<key>Loop Animation</key>
		<false/>
		<key>Parameters Open</key>
		<true/>
	</dict>
	<key>QuickTime Settings</key>
	<dict>
		<key>Compression Number</key>
		<integer>1</integer>
		<key>Frames Per Second</key>
		<integer>24</integer>
		<key>Transparency</key>
		<false/>
	</dict>
	<key>Style</key>
	<dict>
		<key>Axis Color</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Blue</key>
				<real>0.0</real>
				<key>Green</key>
				<real>0.0</real>
				<key>Red</key>
				<real>0.0</real>
				<key>Space</key>
				<string>NSCalibratedRGBColorSpace</string>
			</dict>
			<key>Which</key>
			<integer>1</integer>
		</dict>
		<key>Axis Font Style</key>
		<dict>
			<key>Font</key>
			<integer>1</integer>
			<key>Modify Color</key>
			<integer>0</integer>
			<key>Name</key>
			<string>Helvetica</string>
			<key>Overwrite Size</key>
			<integer>1</integer>
			<key>Overwrite Style</key>
			<integer>1</integer>
			<key>Size</key>
			<real>12</real>
		</dict>
		<key>Axis Line Color</key>
		<string>pen</string>
		<key>Box Style</key>
		<integer>1</integer>
		<key>Box Style Offset</key>
		<integer>2</integer>
		<key>Box Style Offset Specified</key>
		<string>point*0.6</string>
		<key>Color 1</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Blue</key>
				<real>0.0</real>
				<key>Green</key>
				<real>0.0</real>
				<key>Red</key>
				<real>0.0</real>
				<key>Space</key>
				<string>NSCalibratedRGBColorSpace</string>
			</dict>
			<key>Which</key>
			<integer>0</integer>
		</dict>
		<key>Color 10</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Blue</key>
				<real>0.29019609093666077</real>
				<key>Green</key>
				<real>0.68627452850341797</real>
				<key>Red</key>
				<real>0.30196079611778259</real>
				<key>Space</key>
				<string>NSCalibratedRGBColorSpace</string>
			</dict>
			<key>Which</key>
			<integer>0</integer>
		</dict>
		<key>Color 11</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Blue</key>
				<real>0.63921570777893066</real>
				<key>Green</key>
				<real>0.30588236451148987</real>
				<key>Red</key>
				<real>0.59607845544815063</real>
				<key>Space</key>
				<string>NSCalibratedRGBColorSpace</string>
			</dict>
			<key>Which</key>
			<integer>0</integer>
		</dict>
		<key>Color 12</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Blue</key>
				<real>0.0</real>
				<key>Green</key>
				<real>0.49803921580314636</real>
				<key>Red</key>
				<real>1</real>
				<key>Space</key>
				<string>NSCalibratedRGBColorSpace</string>
			</dict>
			<key>Which</key>
			<integer>0</integer>
		</dict>
		<key>Color 13</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Blue</key>
				<real>0.20000000298023224</real>
				<key>Green</key>
				<real>1</real>
				<key>Red</key>
				<real>1</real>
				<key>Space</key>
				<string>NSCalibratedRGBColorSpace</string>
			</dict>
			<key>Which</key>
			<integer>0</integer>
		</dict>
		<key>Color 14</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Blue</key>
				<real>1</real>
				<key>Green</key>
				<real>1</real>
				<key>Red</key>
				<real>1</real>
				<key>Space</key>
				<string>NSCalibratedRGBColorSpace</string>
			</dict>
			<key>Which</key>
			<integer>0</integer>
		</dict>
		<key>Color 2</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Blue</key>
				<real>0.72156864404678345</real>
				<key>Green</key>
				<real>0.49411764740943909</real>
				<key>Red</key>
				<real>0.21568627655506134</real>
				<key>Space</key>
				<string>NSDeviceRGBColorSpace</string>
			</dict>
			<key>Which</key>
			<integer>0</integer>
		</dict>
		<key>Color 3</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Blue</key>
				<real>0.29019609093666077</real>
				<key>Green</key>
				<real>0.68627452850341797</real>
				<key>Red</key>
				<real>0.30196079611778259</real>
				<key>Space</key>
				<string>NSDeviceRGBColorSpace</string>
			</dict>
			<key>Which</key>
			<integer>0</integer>
		</dict>
		<key>Color 4</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Blue</key>
				<real>0.63921570777893066</real>
				<key>Green</key>
				<real>0.30588236451148987</real>
				<key>Red</key>
				<real>0.59607845544815063</real>
				<key>Space</key>
				<string>NSDeviceRGBColorSpace</string>
			</dict>
			<key>Which</key>
			<integer>0</integer>
		</dict>
		<key>Color 5</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Blue</key>
				<real>0.0</real>
				<key>Green</key>
				<real>0.49803921580314636</real>
				<key>Red</key>
				<real>1</real>
				<key>Space</key>
				<string>NSDeviceRGBColorSpace</string>
			</dict>
			<key>Which</key>
			<integer>0</integer>
		</dict>
		<key>Color 6</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Blue</key>
				<real>0.20000000298023224</real>
				<key>Green</key>
				<real>1</real>
				<key>Red</key>
				<real>1</real>
				<key>Space</key>
				<string>NSDeviceRGBColorSpace</string>
			</dict>
			<key>Which</key>
			<integer>0</integer>
		</dict>
		<key>Color 7</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Blue</key>
				<real>0.0</real>
				<key>Green</key>
				<real>0.0</real>
				<key>Red</key>
				<real>1</real>
				<key>Space</key>
				<string>NSCalibratedRGBColorSpace</string>
			</dict>
			<key>Which</key>
			<integer>0</integer>
		</dict>
		<key>Color 8</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Blue</key>
				<real>0.10980392247438431</real>
				<key>Green</key>
				<real>0.10196079313755035</real>
				<key>Red</key>
				<real>0.89411765336990356</real>
				<key>Space</key>
				<string>NSCalibratedRGBColorSpace</string>
			</dict>
			<key>Which</key>
			<integer>0</integer>
		</dict>
		<key>Color 9</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Blue</key>
				<real>0.72156864404678345</real>
				<key>Green</key>
				<real>0.49411764740943909</real>
				<key>Red</key>
				<real>0.21568627655506134</real>
				<key>Space</key>
				<string>NSCalibratedRGBColorSpace</string>
			</dict>
			<key>Which</key>
			<integer>0</integer>
		</dict>
		<key>Draw Minor Tick Marks</key>
		<true/>
		<key>Draw Mirrored Tick Marks</key>
		<false/>
		<key>Grid Color</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Blue</key>
				<real>0.0</real>
				<key>Green</key>
				<real>0.0</real>
				<key>Red</key>
				<real>0.0</real>
				<key>Space</key>
				<string>NSCalibratedRGBColorSpace</string>
			</dict>
			<key>Which</key>
			<integer>0</integer>
		</dict>
		<key>Grid Style</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.0</real>
					<key>Green</key>
					<real>0.0</real>
					<key>Red</key>
					<real>0.0</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>0</integer>
			</dict>
			<key>Line Number</key>
			<integer>1</integer>
			<key>Type</key>
			<integer>3</integer>
			<key>Width</key>
			<string>pen</string>
		</dict>
		<key>Grid Width</key>
		<string>pen</string>
		<key>Grid X and/or Y</key>
		<integer>1</integer>
		<key>Label Font Style</key>
		<dict>
			<key>Font</key>
			<integer>1</integer>
			<key>Modify Color</key>
			<integer>0</integer>
			<key>Name</key>
			<string>Helvetica</string>
			<key>Overwrite Size</key>
			<integer>1</integer>
			<key>Overwrite Style</key>
			<integer>1</integer>
			<key>Size</key>
			<real>12</real>
		</dict>
		<key>Line Color</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Blue</key>
				<real>0.0</real>
				<key>Green</key>
				<real>0.0</real>
				<key>Red</key>
				<real>0.0</real>
				<key>Space</key>
				<string>NSCalibratedRGBColorSpace</string>
			</dict>
			<key>Which</key>
			<integer>0</integer>
		</dict>
		<key>Line Width</key>
		<string>0.5</string>
		<key>Main Font Style</key>
		<dict>
			<key>Font</key>
			<integer>30</integer>
			<key>Modify Color</key>
			<integer>0</integer>
			<key>Name</key>
			<string>Helvetica</string>
			<key>Size</key>
			<real>12</real>
			<key>Standard Color</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>Blue</key>
					<real>0.0</real>
					<key>Green</key>
					<real>0.0</real>
					<key>Red</key>
					<real>0.0</real>
					<key>Space</key>
					<string>NSCalibratedRGBColorSpace</string>
				</dict>
				<key>Which</key>
				<integer>0</integer>
			</dict>
			<key>Standard Font</key>
			<integer>1</integer>
			<key>Standard Size</key>
			<integer>12</integer>
		</dict>
		<key>Marker Size</key>
		<string>5</string>
		<key>Open</key>
		<false/>
		<key>Point Color</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Blue</key>
				<real>1</real>
				<key>Green</key>
				<real>1</real>
				<key>Red</key>
				<real>1</real>
				<key>Space</key>
				<string>NSCalibratedRGBColorSpace</string>
			</dict>
			<key>Which</key>
			<integer>0</integer>
		</dict>
		<key>Styles</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Properties</key>
				<dict/>
			</dict>
		</array>
		<key>Tick Placement</key>
		<integer>2</integer>
		<key>Tick Size</key>
		<integer>2</integer>
		<key>Title Font Style</key>
		<dict>
			<key>Font</key>
			<integer>1</integer>
			<key>Modify Color</key>
			<integer>0</integer>
			<key>Name</key>
			<string>Helvetica</string>
			<key>Overwrite Size</key>
			<integer>1</integer>
			<key>Overwrite Style</key>
			<integer>1</integer>
			<key>Size</key>
			<real>12</real>
		</dict>
		<key>Type</key>
		<string>Style Settings</string>
		<key>Which Style Set</key>
		<integer>0</integer>
	</dict>
	<key>Window Size</key>
	<string>{904, 666}</string>
</dict>
</plist>
